<div class="datos-cliente">
    <div class="column">
        <p><strong>Nombre:</strong> Jean Pool</p>
        <p><strong>Apellidos:</strong> Vásquez Valderrama</p>
        <p><strong>Dirección:</strong> Av. Los Laureles Mz B Lt 5</p>
        <p><strong>Teléfono:</strong> 941219549</p>
    </div>
    <div class="column">
        <p><strong>Tipo de documento:</strong> DNI</p>
        <p><strong>N° de documento:</strong> 60692466</p>
        <p><strong>Correo:</strong> jeanpool5921gmail.com</p>
        <p><strong>Método de pago:</strong> Tarjeta</p>
    </div>
    <div class="column">
        <p><strong>Tipo de comprobante:</strong> Boleta</p>
    </div>
</div>