
 <div  class="d-flex  flex-column justify-content-center p-5 ">

                <div class=" d-flex justify-content-center">    

                    <button id="btncat-1" class="p-2 border-0">
                        <img id="btn-img-1" class="rounded-4 border-white  border-5 m-auto p-auto" src="../../../../assets/imagenes/cuadros-btn.png">
                    </button>
                    
                    <button id="btncat-1" class="p-2 border-0">
                        <img id="btn-img-2" class="rounded-4 border-white  border-5 m-auto p-auto" src="../../../../assets/imagenes/peluches-button.png">
                    </button>
                
                </div>
              
                <div class="d-flex justify-content-center">
                    <button id="btncat-1" class="p-4 border-0">
                        <a>
                        <img id="btn2-img-1" class="rounded-4 border-white  border-5 m-auto p-auto" src="../../../../assets/imagenes/tazas-button.png">
                        </a>    
                    </button>
                
                    <button id="btncat-1" class="p-4 border-0">
                        <img id="btn2-img-2" class="rounded-4 border-white  border-5 m-auto p-auto" src="../../../../assets/imagenes/figuras-button.png">
                    </button>

                      <button id="btncat-1" class="p-4 border-0">
                        <img id="btn2-img-3" class="rounded-4 border-white  border-5 m-auto p-auto" src="../../../../assets/imagenes/accesorios-button.png">
                    </button>
                </div>
              
</div>                   
          