<div class="comprobante">
    <div class="contenido-blanco">

        <receipt-head-receipt >

        </receipt-head-receipt>

        <div class="col">
            
            <receipt-customer-data>

            </receipt-customer-data>


            <div class="femision">
                <p><strong>Fecha de Emisión:</strong></p>
                <p><strong>01/01/2024</strong></p>
            </div>

           <receipt-table-detail>

           </receipt-table-detail>
           
        </div>
    </div>
</div>

