<div class="contenedor">
    <!-- Imagen decorativa -->
    <div class="imagen"></div>
  
    <!-- Formulario de registro -->
    <form class="formulario" >
      <!-- Botón para regresar -->
      <button class="btn-regresar" routerLink="/login" aria-label="Regresar al inicio de sesión">&#8592;</button>
  
      <!-- Título -->
      <h1 class="title"><strong>Regístrate</strong></h1>
  
      <!-- Campos del formulario -->
      <div class="campos">
        <!-- Nombres -->
        <div class="campo">
          <label for="nombres">NOMBRES</label>
          <input
            id="nombres"
            class="in"
           
            name="nombres"
            type="text"
            [(ngModel)]="persona.nombres" 
            placeholder="Ingresa tus nombres"
            required
          />
        </div>
  
        <!-- Apellidos -->
        <div class="campo">
          <label for="apellidos">APELLIDOS</label>
          <input
            id="apellidos"
            class="in"
            
            name="apellidos"
            type="text"
            [(ngModel)]="persona.apellidos"
            placeholder="Ingresa tus apellidos"
            required
          />
        </div>
  
        <!-- Tipo de documento -->
        <div class="campo">
          <label for="tipodoct">TIPO DE DOCUMENTO</label>
          <select
            id="tipodoct"
            class="in"
            [(ngModel)]="persona.tipodoc"
            name="tipodoct"
            required
          >
            <option value=""  disabled selected>Selecciona tipo de doc</option>
            <option value="DNI">DNI</option>
            <option value="PASAPORTE">Pasaporte</option>
            <option value="CARNET_EXTRANJERIA">Carnet de extranjería</option>
          </select>
        </div>
  
        <!-- Número de documento -->
        <div class="campo">
          <label for="numerodoct">NÚMERO DE DOCUMENTO</label>
          <input
            id="numerodoct"
            class="in"
            [(ngModel)]="persona.numerodoct"
            name="numerodoct"
            type="text"
            placeholder="Ingresa un num de doc"
            required
          />
        </div>
  
        <!-- Fecha de nacimiento -->
        <div class="campo">
          <label for="fechanaci">FECHA DE NACIMIENTO</label>
          <input
            id="fechanaci"
            class="in"
            [(ngModel)]="persona.fechanaci"
            name="fechanaci"
            type="date"
            required
          />
        </div>
  
        <!-- Dirección -->
        <div class="campo">
          <label for="direccion">DIRECCIÓN</label>
          <input
            id="direccion"
            class="in"
            [(ngModel)]="persona.direccion"
            name="direccion"
            type="text"
            placeholder="Ingresa tu dirección"
          />
        </div>
  
        <!-- Correo electrónico -->
        <div class="campo">
          <label for="correo">CORREO ELECTRÓNICO</label>
          <input
            id="correo"
            class="in"
            [(ngModel)]="persona.correo"
            name="correo"
            type="email"
            placeholder="Ingresa tu correo"
            required
          />
        </div>
  
        <!-- Teléfono -->
        <div class="campo">
          <label for="telefono">TELÉFONO</label>
          <input
            id="telefono"
            class="in"
            [(ngModel)]="persona.telefono"
            name="telefono"
            type="tel"
            placeholder="Ingresa tu teléfono"
            required
          />
        </div>
      </div>
  
      <div class="enlace-registro">
        <span>¿Ya tienes una cuenta?</span>
        <a routerLink="/auth/login">    Inicia Sesión</a>
    </div>
  
  
      <!-- Botón de envío -->
      <div class="grupo-formulario">
        <a class="btn btn-dark" (click)="createPerson()"  routerLink="/auth/create-user">
          SIGUIENTE
         </a>
        
    </div>
    </form>
  </div>
