<div class="d-flex">
    <div id="form-background" class="form-container mx-4 rounded-4 ">
        <form class="m-5" (ngSubmit)="addProduct()">
        <div class="form-group">
            <label for="categoria">Categoría</label>
            <select class="in"   [(ngModel)]="newproducts.categoria" name="categoria" >
                <option value="cuadros">Cuadros</option>
                <option value="peluches">Peluches</option>
                <option value="accesorios">Accesorios</option>
                <option value="figuras">Figuras</option>
                <option value="tazas">Tazas</option>
            </select>
        </div>
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control"[(ngModel)]="newproducts.nombre" name="nombre" id="nombre" placeholder="Nombre del Producto">
        </div>
        <div class="form-group">
            <label for="imageUrl">Url Imagen</label>
            <input type="text" class="form-control" [(ngModel)]="newproducts.imagen" name="imagen" id="imagen" placeholder="URL de la Imagen">
        </div>
        <div class="form-group">
            <label for="description">Descripción</label>
            <input maxlength="30" type="text" class="form-control"  [(ngModel)]="newproducts.descripcion" name="descripcion" id="descripcion" placeholder="Descripción del Producto">
        </div>
        <div class="form-group">
            <label for="price">Precio</label>
            <input type="number" class="form-control" [(ngModel)]="newproducts.precio" name="precio"   id="precio" placeholder="Precio del Producto">
        </div>
        <div class="form-group">
            <label for="stock">Stock</label>
            <input type="number" class="form-control"  [(ngModel)]="newproducts.stock"   name="stock" id="stock" placeholder="Stock del Producto">
        </div>
        <button type="submit" class="btn btn-danger mt-2" >  {{  'Guardar Producto' }}</button>
        <button type="button" class="btn btn-secondary mt-2 ms-2" (click)="resetForm()">
        Cancelar
      </button>
        </form>
    </div>