<div class="checkout-component">
    <h3>Resumen de Productos</h3>
    
    <div *ngFor="let item of producto" 
    class="product-item mb-3">
      <img [src]="item.imagen" alt="">
      <p><strong>{{item.nombre}}</strong></p>
      <p><strong>Categoría:</strong>{{item.categoria}}</p>
      <p><strong>Precio:</strong> S/ {{item.precio}}</p>
      <div class="quantity">
        <button class="btn btn-danger">-</button>
        <span>1</span>
        <button class="btn btn-danger">+</button>
      </div>
    </div>
  </div>
  