<table class="detalles-tabla">
    <thead>
        <tr>
            <th>Cantidad</th>
            <th>Producto</th>
            <th>Precio/U</th>
            <th>SubTotal</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>02</td>
            <td>Monedero de Sapito de Naruto</td>
            <td>S/16.00</td>
            <td>S/32.00</td>
        </tr>
        <tr>
            <td>01</td>
            <td>Goku Niño sentado en nube voladora</td>
            <td>S/30.00</td>
            <td>S/30.00</td>
        </tr>
        <tr>
            <td>01</td>
            <td>Figura de acción de One Piece, Roronoa Zoro</td>
            <td>S/35.00</td>
            <td>S/35.00</td>
        </tr>
    </tbody>
</table>

<div class="TOTAL">
    <table class="total">
        <thead>
            <tr>
                <th>TOTAL:</th>
                <th>S/97.00</th>
            </tr>
        </thead>
    </table>
</div>