<header>
    <nav class="d-flex " id="up">

        <div id="div-img" class="d-flex justify-content-between">
            <a href="#"><img class="m-2 p-2" src="../../../../assets/imagenes/logo-horizontal.png"></a>
        </div>

        <div id="div-menus  " class="col- d-flex  justify-content-center">
            <ul id="menus" class="d-flex m-0 dropdown">
        
                <a routerLink="home" id="menu-1" class=" mx-5 p-5 d-flex flex-column justify-content-center ">
                    <li>INICIO</li>
                </a>

                <li class=" mx-5 p-5 d-flex flex-column justify-content-center">
                    <span>|
                    </span>
                </li>

                <a routerLink="products" id="menu-2" class=" mx-5 p-5 d-flex flex-column justify-content-center ">
                    <li>
                        PRODUCTOS
                    </li>
                </a>

                <li class=" mx-5 p-5 d-flex flex-column justify-content-center">
                    <span>
                        |
                    </span>
                </li>

                <a routerLink="about" id="menu-3" class=" mx-5  p-5 d-flex flex-column justify-content-center ">
                    <li>
                        NOSOTROS
                    </li>
                </a>


                <ng-template  #register  class="d-flex justify-content-center align-items-center mt-3" id="register-buttons">
                    <div class="container text-center mt-3" id="register-buttons">
                        <div class="d-flex justify-content-center align-items-center flex-wrap">
                          <button 
                          routerLink="auth/register"
                          class="btn btn-primary mt-2"
                           id="btn-register">
                            Crear Cuenta
                          </button>

                          <button 
                          routerLink="auth/login"
                          class="btn btn-primary mt-2" 
                          id="btn-login">
                            Iniciar Sesión
                          </button>
                        </div>
                      </div>
                </ng-template>

                <div  *ngIf="datosUsuario;else register"          class="dropdown d-flex flex-column justify-content-center align-items-center">


                    <a id="btn-dropdown" class="btn  btn-outline-light dropdown-toggle border-0 d-flex justify-content-center" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i id="user-icon" class="bi bi-person-circle fs-5 mx-2"> 
                        </i><p>{{datosUsuario.usuario}}</p> 
                        
                    </a>



                    <ul class="dropdown-menu">
                        <li>
                            <a routerLink="settings" id="dropdown-submenus-1" class="dropdown-item">
                                <i class="bi bi-gear fs-2"></i>
                                Configuración
                            </a>
                        </li>

                        <li>
                            <a routerLink="receipts" id="dropdown-submenus-2" class="dropdown-item">
                                <i class="bi bi-receipt fs-2"></i>
                                Comprobantes
                            </a>
                        </li>


                        <li *ngIf="datosUsuario.rol == 'administrador'">
                            <a routerLink="products/add-product" id="dropdown-submenus-4" class="dropdown-item">
                                <i class="bi bi-arrow-bar-up fs-2"></i>
                                Registrar Productos
                            </a>
                        </li>


                        <li (click)="logout()">
                            <a  
                              id="dropdown-submenus-3" class="dropdown-item">
                                <i class="bi bi-door-open fs-2"></i>
                                Cerrar Sesión
                            </a>
                        </li>


                    </ul>

                </div>

            </ul>
        </div>

    </nav>
</header>