<div class="checkout-customer-form">
    <h3>Datos del Cliente</h3>
    <form>
      <div class="mb-3">
        <label for="fullName" class="form-label">Nombre completo</label>
        <input type="text" class="form-control" id="fullName"  disabled>
      </div>
      <div class="mb-3">
        <label for="address" class="form-label">Dirección</label>
        <input type="text" class="form-control" id="address"  disabled>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="email"  disabled>
      </div>
    </form>
  </div>
  