<div id="principal">
    <h3>Mis comprobantes</h3>
    <div class="row">
       
        <div class="col-md-4 mb-3">
            <div class="card receipt-card">
                <div class="card-header">
                    <strong>N° COMPROBANTE BOO-3480</strong> 
                </div>
                <div class="card-body">
                    <p class="card-text">Tipo de comprobante: Factura</p>
                    <p class="card-text">Fecha: 12/02/2024</p>
                    <a [routerLink]="'/receipt-detail'" href="*" class="btn" id="btn-light-red">VER DETALLES</a>
                </div>
            </div>
        </div>
    </div>
</div>