<div id="comend" class="d-flex">
  
    <div id="text-comend" class="d-flex flex-column justify-content-center m-auto mx-1 col-2">
      <h5 class="m-auto">CONOCE LO<br><span class="d-flex justify-content-center">NUEVO </span></h5>
      <button id="btn-new-prod-1" class="btn m-auto" type="button">
        Ver productos            
      </button>
    </div>
  
    <div id="prod-comend" class="d-flex justify-content-between m-auto p-3">
      <!-- Usamos d-flex para la fila y justify-content-between para repartir el espacio entre los productos -->
      <div *ngFor="let product of products" class="card d-flex justify-content-center rounded-5 text-bg-secondary" style="flex: 1 1 18%; margin: 0 10px; max-width: 200px;">
        <div class="d-flex justify-content-center align-items-center" style="height: 120px; overflow: hidden;">
          <img class="card-img-top" [src]="product.imagen" alt="{{ product.nombre }}" style="max-width: 80%; max-height: 80%; object-fit: contain;">
        </div>
        <div class="card-body d-flex justify-content-center flex-column">
          <h5 class="card-title m-auto">{{ product.nombre }}</h5>
          <button (click)="getProductosId(product._id)" id="btn-new-prod-2" class="btn m-auto">
            Ver más
          </button>
        </div>
      </div>
    </div>
  </div>
  