<div class="carrito">
    <button class="carrito-button">
      <strong class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">  
        <i class="bi bi-cart-fill"></i> Carrito <i class="bi bi-caret-right-fill"></i>
      </strong>
    </button>

    <nav class="navbar">
        <div class="container-fluid">
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><strong>CARRITO DE COMPRAS</strong></h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="list-group">
                <li *ngFor="let item of cartItems" class="list-group-item">
                  <img [src]="item.imgUrl" alt="{{ item.nombre }}" class="cart-item-image">
                  {{ item.nombre }} - S/{{ item.precio }} - Cantidad: {{ item.quantity }}
                  <div class="quantity-control">
                    <button (click)="decreaseQuantity(item)">-</button>
                    {{ item.quantity }}
                    <button (click)="increaseQuantity(item)">+</button>
                    <button (click)="deleteProductCart(item.id)"      class="m-auto border border-0 ">
                    <i class="bi bi-trash3 "></i>
                    </button>
                  </div>
                  <div>
                   
                  </div>
                </li>
              </ul>
              <button class="btn btn-danger mt-3 " (click)="clearCart()">Limpiar Carrito</button>
              <button class="btn btn-primary mt-3 mx-3" routerLink="checkout">Comprar</button>
            </div>
          </div>
        </div>
      </nav>
</div>