<div class="checkout-page">
    
    <div class="container">
      <div class="row justify-content-center">
        
        <div class="col">
        
          <checkout-customer-form class="mb-2"></checkout-customer-form>
  
        
          <checkout-product-summary class="mb-2"> </checkout-product-summary>
        </div>
  
        
        <div class="col">
          
          <checkout-payment-summary class="mb-2"></checkout-payment-summary>
  
          
          <checkout-card-form class="mb-2"></checkout-card-form>
        </div>
      </div>
    </div>
  </div>
  